@charset "utf-8";

a {
	text-decoration: none;
	color: #825454;
}

a:hover {
	text-decoration: underline #825454;
}

body {
	font-family: "Linden Hill", "Yu Mincho", "YuMincho", sans-serif;
	height: 100%;
	color: #825454;
}

#container {
	box-sizing: border-box;
	height: 100vh;
	width: 100vw;
	overflow-y: scroll;
	overflow-x: hidden;
	scroll-padding-top: 8vh;
}

/* サイドメニュー */
#side_menu {
	background: rgb(255, 255, 255, 0.8);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 10vh;
	position: sticky;
	top: 0;
	z-index: 98;
}

@media screen and (min-height: 768px) {
	#side_menu {
		height: 8vh;
	}
}

#side_menu ul {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 85%;
	height: 100%;
}

#mizutama {
	display: none;
}

#side_menu_contents {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 0;
	margin-left: 0;
}

#logo_menu {
	margin-bottom: 0;
	min-width: 30vw
}

#side_menu_link {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
}

.side_menu_text {
	font-size: 1.1rem;
	margin-bottom: 0;
	margin-right: 2.5vw;
}

#sns_icons {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	display: flex;
	width: 10vw;
	max-width: 100px;
	min-width: 80px;
}

#sns_icons p:first-child {
	margin-right: 10%;
}

/* 見出し設定 */
#menu_midashi {
	margin-top: 0;
	margin-left: 3vw;
	padding-left: 15.5%;
}

@media screen and (max-width:1024px) {
	#menu_midashi {
		padding-left: 5%;
	}
}

.midashi_eng {
	font-size: 2.1rem;
	font-weight: normal;
}

.midashi_jpn {
	font-size: 1.5rem;
	font-weight: normal;
}

/* フッター */
footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	background: url(../images/footer_back.png);
	background-size: cover;
	width: 100%;
	position: relative;
}

footer a {
	color: white;
}

footer a:hover {
	text-decoration: underline white;
}

#footer_logo {
	margin-top: 2.5%;
}

#footer_sns_icons {
	margin-top: 2.5%;
	display: none;
	display: flex;
	justify-content: space-between;
	width: 7%;
}

@media screen and (max-width: 450px) {
	#footer_sns_icons {
		display: none;
	}
}

#footer_sns_icons p:first-child {
	margin-right: 17%;
}

footer ul {
	margin-top: 2.5%;
	display: none;
	display: flex;
	justify-content: space-between;
	width: 30%;
}

@media screen and (max-width: 450px) {
	footer ul {
		display: none;
	}
}

#footer_copyright {
	margin-top: 2.5%;
	margin-bottom: 2.5%;
}

/* トップぺージ */
#header_top {
	width: 100%;
	height: 92vh;
/	background: url(../images/top_image.jpg);
/	background-size: cover;
/	background-position-y: 35%;
/	background-position: center;
/	overflow-y: hidden;
	display: flex;
	justify-content: center;
	overflow-y:hidden;
	overflow-x:hidden;
}

@media screen and (orientation: portrait) and (max-width: 1024px) {
	#header_top {
		height: 50%;
	}
}

header h1 {
	margin-top: 45vh;
	color: #825454;
	background: white;
	padding: 2% 2% 1% 2%;
	font-size: clamp(1.2rem, 2.7vw, 2.3rem);
/	position: relative;
/	top: 45%;
/	left: 30%;
	text-wrap: nowrap;
}

@media screen and (orientation: portrait) and (max-width: 1024px) {
	header h1 {
		margin-top: 20vh;
	}
}

#main_top {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 90vh;
	background: url(../images/back_about_wide_gradation.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}

@media screen and (max-width: 1024px) {
	#main_top {
		background: url(../images/back_about.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: right;
	}
}

@media screen and (orientation: portrait) and (max-width: 1024px) {
	#main_top {
		height: 50vh;
	}
}

#main_text {
	margin-left: 19.5vw;
	width: 41.5%;
	line-height: 1.5;
}

@media screen and (max-width: 1024px) {
	#main_text {
		margin-left: 8vw;
		width: 36%;
	}
}

@media screen and (orientation: portrait) and (max-width: 1024px) {
	#main_text {
		width: 45%;
		margin-left: 8vw;
		padding-left: 0;
	}
}

#main_text h2 {
	font-size: clamp(2rem, 3.1vw, 2.7rem);
	text-wrap: nowrap;
	margin-bottom: 6%;
}

@media screen and (max-width: 1024px) {
	#main_text h2 {
		font-size: clamp(1.3rem, 2.7vw, 2.3rem);
	}
}

@media screen and (orientation: portrait) and (max-width: 1024px) {
	#main_text h2 {
		font-size: clamp(1.1rem, 3.4vw, 2.3rem);
	}
}

#main_text br {
	display: none;
}

@media (max-width: 450px) {
	#main_text br {
		display: block;
	}
}

#main_text p {
	font-size: clamp(1.1rem, 1.3vw, 1.2rem);
	margin-bottom: 5%;
	line-height: 1.5;
	text-align: justify;
}

#france_pan_back {
	/ margin-top: 7%;
	width: 61%;
	height: 20%;
}

@media screen and (orientation: portrait) and (max-width: 1024px) {
	#france_pan_back {
		width: 53.5vw;
		height: 9vh;
	}
}

#noise_back {
	width: 100%;
	height: 100%;
	background: url(../images/noise_back.png);
	background-size: cover;
	/ background-position: bottom right;
}

#france_pan_top {
	margin-left: 7vw;
	width: 27vw;
	position: relative;
	top: -180%;
	z-index: 1;
}

@media screen and (max-width: 1024px) {
	#france_pan_top {
		margin-left: 2vh;
		top: -140%;
	}
}

#access {
	padding-top: 2%;
	margin: 0 auto;
	width: 65vw;
	padding-left: 5%;
	height: 70vh
}

@media screen and (max-width: 1024px) {
	#access {
		width: 88vw;
	}
}

@media screen and (orientation: portrait) and (max-width: 1024px) {
	#access {
		margin: 0 auto;
		width: 88vw;
		height: 40vh
	}
}

#access_info {
	width: 100%;
	/ height: 100%;
	display: flex;
	justify-content: space-between;
}

@media screen and (orientation: portrait) and (max-width: 1024px) {
	#access_info {
		width: 100%;
	}
}

#access_info_leftside {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 65%;
	/ height: 100%;
	font-size: clamp(0.7rem, 1.1vw, 1rem);
}

#access_info_leftside p {
	width: 16%;
	vertical-align: bottom;
	min-width: 60px;
}

#access_info_box {
	margin-top: 6%;
}

.container_li {
	display: flex;
	margin-bottom: 3%;
}

.koumoku {
	width: 25%;
	text-wrap: nowrap;
}

#map {
	margin-left: 5%;
}

/* メニューページ */

.bar_midashi {
	display: flex;
	width: 100%;
	height: 10%;
	background: url(../images/menu/bar_back.png);
	background-size: cover;
	background-position-y: 25%;
	margin-bottom: 1%;
}

@media screen and (orientation: portrait) and (max-width: 1024px) {
	.bar_midashi {
		height: 6%;
	}
}

.bar_chuo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.just_wrapping_text {
	display: flex;
	align-items: baseline;
	width: 100%;
}

.bread_and_drink {
	font-size: 2rem;
	height: 100%;
	margin-left: 3.5vw;
	padding-left: 15%;
	font-family: "Century Gothic", Futura;
	color: white;
}

@media screen and (max-width: 1024px) {
	.bread_and_drink {
		padding-left: 5%;
	}
}

.bread_and_drink_jp {
	font-size: 1.1rem;
	height: 100%;
	margin-left: 0.6%;
	font-family: "游ゴシック", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic";
	color: white;
}

.menu_spacer {
	width: 65vw;
	margin: 0 auto;
	padding-left: 0;
}

@media screen and (max-width: 1024px) {
	.menu_spacer {
		width: 88vw;
	}
}

.menu_list ul {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 4%;
}

.menu_list li {
	width: calc(100%/4);
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media screen and (max-width: 1024px) {
	.menu_list li {
		width: calc(100%/3);
	}
}

@media screen and (max-width: 450px) {
	.menu_list li {
		width: calc(100%/2);
	}
}

.menu_list p {
	width: 80%;
}

.menu_list img {
	aspect-ratio: 1 / 1;
	object-fit: cover;
	border-radius: 50%;
}

.menu_list a:hover {
	filter: brightness(1.1);
}

#higawari {
	object-position: 10% 0;
}

#hot_coffee {
	object-position: 100% 0;
}

#hot_tea {
	object-position: 0 100%;
}

.menu_no_namae {
	margin-top: 6%;
	font-size: 1.1rem;
}

.menu_description {
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-size: 0.8rem;
	letter-spacing: 0.1rem;
	text-align: justify;
	​​
}

/* お問い合わせ */
#main_contact {
	margin: 0 auto;
	padding-left: 0;
	width: 62vw;
	height: auto;
}

@media screen and (max-width: 1024px) {
	#main_contact {
		width: 83vw;
	}
}

#contact_message {
	/ font-size: 0.9rem;
}

#contact_message:first-child {
	margin-top: 2%;
}

.line_kugiri {
	margin-top: 3%;
	margin-bottom: 3%;
	border-bottom: 1px dashed #825454;
}

#main_contact form {
	margin-bottom: 10%;
	font-weight: bold;
}

.form_text {
	display: flex;
	align-items: center;
	font-size: 0.9rem;
	;
}

.contact_box {
	width: 60%;
}

.contact_box input {
	outline: none;
}

.contact_box textarea {
	width: 80%;
	resize: none;
	outline: none;
}

.contact_koumoku {
	width: 30%;
}

.contact_koumoku span {
	color: white;
	background-color: #825454;
	font-size: 0.8rem;
	padding: 0.2rem 0.25rem 0 0.2rem;
}

#button_submit {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#button_submit input {
	font-family: "Yu Mincho", "YuMincho";
	font-weight: bold;
	font-size: 1.3rem;
	color: white;
	background: #825454;
	border: none;
	padding: 1.5% 12% 1.5% 12%;
}

#button_submit input:hover {
	background: #ad7777;
}